
/* HERO */

.about-hero-info-wrapper{
  padding-right: 208px;
}

.about-hero-img{
  display: block;
  width: 710px;
  height: 596px;
}

/* COMMITMENT */

.commitment{
  margin-bottom: 160px;
}

.commitment-inner {
  display: flex;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 200px;
  padding-left: 165px;
  padding-right: 64px;
  background-color: #F8F8F2;
  background-image: url("../img/commitment.jpg") ,url("../img/leavest-leafe.svg");
  background-repeat: no-repeat , no-repeat;
  background-size: 371px , 371px;
  background-position: center , top 0 left -120px;
}

.commitment-img {
  width: 360px;
  height: 364px;
  object-fit: contain;
}

.commitment-content {
  margin-left: 185px;
  width: 626px;
}

.commitment-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: normal;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.commitment-text {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

/* ABOUT-PROSAL */

.about-proposal {
  margin-bottom: 20px;
  color: #fff;
}


.about-proposal-content {
  position: relative;
  padding-top: 100px;
  padding-bottom: 126px;
  padding-left: 143px;
  padding-right: 30px;
  background-color: #c99b67;
  background-image: url("../img/about-proposal.jpg");
}

.about-proposal-inner{
  width: 640px;
}

.about-proposal-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
}

.about-proposal-text {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

.about-proposal-img {
  position: absolute;
  bottom: 90px;
  right: 30px;
  width: 550px;
  height: 500px;
  object-fit: contain;
}

/* About-Manual */

.about-manual-inner{
  padding-bottom: 100px;
}

.about-manual-steps-list{
  margin-bottom: 0;
}

.about-manual-steps-item{
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
}

.about-manual-steps-item:first-child:before{
  content: "";
  display: inline-block;
  margin-left: auto;
  width: 120px;
  height: 143px;
  background-image: url("../img/united-kingdom.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 45px;
  right: 55px;
}

.about-manual-steps-item:nth-child(2):before{
  content: "";
  display: inline-block;
  margin-left: auto;
  width: 120px;
  height: 120px;
  background-image: url("../img/canada.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 45px;
  right: 55px;
}

.about-manual-steps-item:last-child:before{
  content: "";
  display: inline-block;
  margin-left: auto;
  width: 120px;
  height: 91px;
  background-image: url("../img/australia.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 45px;
  right: 55px;
}

.about-manual-info-box{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 140px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 55px;
  background-color: #fff;
}

/* BACKGROUND-IMAGE FOR RETINA SCREENS */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .commitment-inner {
    background-image: url("../img/commitment@2x.jpg")
  }

.about-proposal-content {
  background-image: url("../img/about-proposal@2x.jpg");
}
}