/* CUSTOM-PROPS */
:root{
  --main-text-color:#000;
  --accent-color: #0A775F;
  --hero-bg-color:#F3D7B7;
  --button-green-hover: rgba(10, 119, 95, 0.8);
  --button-green-active: rgba(10, 119, 95, 0.6);
  --button-dark-brown-hover:rgba(201, 155, 103, 0.8);
  --button-dark-brown-active:rgba(201, 155, 103, 0.6);
}

/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family:"Roboto", "Arial", sans-serif;
  background-color: #fff;
  color: #333;
}

img{
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 16px 24px;
  border-radius: 100px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 1px;
}
.button-green {
  background-color: var(--accent-color);
  transition: background-color 0.4s ease;
}

.button-green:hover{
  background-color: var(--button-green-hover);
}

.button-green:active{
  background-color: var(--button-green-active);
}

.button-brown:hover{
  background-color: var(--button-dark-brown-hover);
}

.button-brown:active{
  background-color: var(--button-dark-brown-active);
}

/* HEADER */

.hero-wrapper {
  background-color: var(--hero-bg-color);
  background-image: url("../img/hero-wrapper.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header-container{
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.site-header-logo {
  display: flex;
  transition: opacity 0.4s ease;
}

.site-header-logo:hover{
  opacity: 0.8;
}

.site-header-logo:active{
  opacity: 0.6;
}

.header-logo-img {
  width: 235px;
  height: 24px;
  object-fit: contain;
}

.sinav-list {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.sitenav-item:not(:last-child){
  margin-right: 40px;
}
.sitenav-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333;
  white-space: nowrap;
  transition: opacity 0.4s ease;
}

.sitenav-link:hover{
  opacity: 0.8;
}

.sitenav-link:active{
  opacity: 0.6;
}

/* HERO */


.hero-container {
  display: flex;
}

.hero-info-wrapper{
  max-width: 730px;
  width: 100%;
  padding-top: 116px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 116px;
  color: var(--main-text-color);
}
.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 75px;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 24px;
}

.hero-img-wrapper{
  position: relative;
  margin-right: -20px;
}
.manufactor-label{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.hero-img {
  display: block;
  width: 710px;
  height: 696px;
  object-fit: cover;
}

/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}

/* COLLECTION */

.collection {
  margin-bottom: 20px;
  background-color: #fff;
}
.collection-content{
  position: relative;
  padding: 50px 143px;
  background-color: #F8F8F2;
  background-image: url("../img/collection-bg-img.jpg") , url("../img/leaves-right-mix.svg");
}

.collection-heading{
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 50px;
  line-height: normal;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.collection-list {
  padding-left: 0;
  margin: 0;
}

.collection-item {
  display: flex;
  align-items: center;
}

.collection-item:nth-child(even){
  flex-direction: row-reverse;
}

.collection-img {
  flex-shrink: 0;
  width: 450px;
  height: 375px;
  object-fit: cover;
}

.collection-info-wrapper {
  flex-grow: 1;
  padding-left: 117px;
  padding-right: 117px;
}

.collection-info-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.collection-info-desc {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
}

.collection-info-desc:not(:last-child){
  margin-bottom: 10px;
}

.collection-leafe-left{
  position: absolute;
  left: -150px;
  top: 40px;
}

.collection-leaves-right{
  position: absolute;
  top: 685px;
  left: 80%;
}

.collection-leafe-left-light{
  position: absolute;
  left: -216px;
  bottom: 170px;
}

/* PROPOSAL */


.proposal-content {
  padding: 50px 30px;
  background: linear-gradient(#c99b67 0 77% , #fff 77% 100% );
  background-image: url("../img/proposal-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: 100% 700px;
}

.proposal-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: normal;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.proposal-text {
  max-width: 580px;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
}

.proposal-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -20px;
}

.proposal-item {
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-bottom: 30px;
  position: relative;
}

.coffee-moto{
  position: absolute;
  top: 0;
  left: 0;
  width: 144px;
  height: 140px;
  transform: translate(-50%, -50%);
}

.proposal-img {
  width: 433px;
  height: 500px;
  margin-bottom: 28px;
  object-fit: cover;
}

.proposal-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.proposal-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

/* MANUAL */


.manual-inner {
  padding: 50px 30px;
  background-color: var(--accent-color);
  background-image: url("../img/manual-bg-img.jpg");
  position: relative;
  text-align: center;
}

.manual-heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 50px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.maual-steps-list {
  display: flex;
  padding-left: 0;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 60px;
  text-align: left;
  counter-reset: (how-it-works);
}

.manual-steps-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  counter-increment: how-it-works;
}

.manual-steps-item::before{
  position: relative;
  z-index: 2;
  width: 60px;
  height: 60px;
  border: 4px solid #C99B67;
  margin-bottom: 20px;
  background-color: #fff;
  text-align: right;
  content: "";
}

.manual-steps-item:not(:last-child):after{
  position: absolute;
  top: 30px;
  left: 35px;
  content: "";
  width: 433px;
  height: 3px;
  background-image: url("../img/strike-through.svg");
  background-repeat: no-repeat;
}

.manual-info-box{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px;
  background-color: #fff;
}

.manual-info-box::before{
  align-self: flex-end;
  margin-bottom: 45px;
  font-size: 64px;
  line-height: normal;
  content: counter(how-it-works, decimal-leading-zero);
}

.manual-steps-title {
  max-width: 250px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.manual-steps-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

.button-brown {
  background-color: #C99B67;
  color: #fff;
}

.catchy-slogan{
  position: absolute;
  right: 68px;
  top: 41px;
}


/* BACKGROUND-IMAGE FOR RETINA SCREENS */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  /* .hero-wrapper {
    background-image: url("../img/hero-wrapper.jpg");
  }

  .collection-content{
    background-image: url("../img/collection-bg-img.jpg");

  } */
}